<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <h1>Teacher's Pet</h1>
    <h3>Class Discussion & Participation Tracker</h3>
      <table class="sortable">
        <thead>
          <tr>
            <th scope="col">Student</th>
            <th scope="col">Notes</th>
            <th>Participation</th>
            <th>Action</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
          <%
          for(let i = 0; i <students.length; i++){
          %>
          <tr>
            <td> <a href="/teacherspet/<%=students[i].id;%>"><%=students[i].name;%></a></td>
            <td class="text-sm-left"><%=students[i].notes%></td>
            <td><%=students[i].participation%></td>
            <td><a href="/teacherspet/<%=students[i].id;%>/edit">Edit</a></td>
            <td scope="row"><%=students[i].updatedAt;%></td>

            <%}%>
          </tr>
        </tbody>
  </table>
  <nav>
    <button type="button" class="btn btn-warning btn-lg btn-block fixed-bottom"><a href="/teacherspet/newstudent" class="text-dark">Add a Student</a></button>
  </nav>
  </body>
  <%- include('partials/footer.ejs')%>
</html>
