<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body class="">
    <h1 class="title">Teacher's Pet</h1>
    <h3>Class Discussion & Participation Tracker</h3>
    <div class="table-container">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th scope="col">Student</th>
            <th scope="col">Notes</th>
            <th>Participation</th>
            <th>Action</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
          <%
          for(let i = 0; i <students.length; i++){
          %>
          <tr>
            <td> <a class="" href="/teacherspet/<%=students[i].id;%>"><%=students[i].name;%></a></td>
            <td class="text-sm-left"><%=students[i].notes%></td>
            <td><%=students[i].participation%></td>
            <td class="field">
              <form action="/teacherspet/<%=students[i].id;%>/edit" class="control">
                <input type="submit" class="button is-warning is-responsive is-small" value="Edit">
              </form>
            </td>
            <td scope="row"><%=students[i].updatedAt;%></td>
            <%}%>
          </tr>
        </tbody>
      </table>
    </div>
  <span >
    <form class="field" action="/teacherspet/newstudent">
      <input type="submit" class="button is-responsive is-primary" value="Add a Student">
    </form>
  </span>
  </body>
  <%- include('partials/footer.ejs')%>
</html>
