<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <%- include('partials/nav.ejs')%>
    <div class="table-container ml-4">
      <table class="table is-hoverable is-fullwidth sortable">
        <thead>
          <tr>
            <th scope="col">Student</th>
            <th scope="col">Notes</th>
            <th>Participation</th>
            <th>Action</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
          <%
          for(let i = 0; i <students.length; i++){
          %>
          <tr>
            <td> <a class="has-text-link-dark" href="/<%=students[i].id;%>"><%=students[i].name;%></a></td>
            <td class="text-sm-left"><%=students[i].notes%></td>
            <td><%=students[i].participation%></td>
            <td class="field">
              <form action="/<%=students[i].id;%>/edit" class="control">
                <input type="submit" class="button is-warning is-responsive is-small has-text-link-dark" value="Edit">
              </form>
            </td>
            <td scope="row"><%=students[i].updatedAt.toDateString();%></td>
            <%}%>
          </tr>
        </tbody>
      </table>
    </div>
  <span >
    <form class="field" action="/newstudent">
      <input type="submit" class="button is-responsive is-link is-fullwidth" value="Add a Student">
    </form>
  </span>
  </body>
  <%- include('partials/footer.ejs')%>
</html>
