<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <%- include('partials/nav.ejs')%>
    <h1 class="title mx-4 mt-4"> <%=student.name;%> </h1>
    <table class="table is-fullwidth">
      <thead>
        <tr class="is-selected">
          <th scope="col">Notes</th>
          <th scope="col">Last Update</th>
          <th scope="col">Project</th>
          <th>Participation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><%=student.notes%></td>
            <td> <%=student.updatedAt.toDateString();%> </td>
            <td> <%=student.project; %> </td>
            <td class="text-sm-left"><%= student.participation %></td>
        </tr>
      </tbody>
</table>

<div class="field is-grouped mx-4">
    <form action="/classlist" class="control">
      <input type="submit" class="button is-primary" value="Back to Class List">
    </form>
    <form action="/<%=student.id;%>/edit" class="control">
      <input type="submit" class="button is-link" value="Edit">
    </form>
    <form action="/<%=student.id;%>?_method=DELETE" method="POST" class="control">
      <input type="submit" class="button is-danger" value="Delete">
    </form>
</div>




  </body>
  <%- include('partials/footer.ejs')%>
</html>
