<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <h1><%=student.name;%></h1>
    <table class="table table-hover sortable">
      <thead>
        <tr>
          <th scope="col">Notes</th>
          <th scope="col">Last Update</th>
          <th scope="col">Project</th>
          <th>Participation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><%=student.notes%></td>
            <td> <%=student.updatedAt;%> </td>
            <td> <%=student.project; %> </td>
            <td class="text-sm-left"><%= student.participation %></td>
        </tr>
      </tbody>
</table>
  <button type="button" class="btn btn-warning" name="button"><a href="/teacherspet/" class="text-dark">Back to Class List</a></button>
  <button type="button" name="button"><a href="/teacherspet/<%=student.id;%>/edit">Edit</a></button>

  <form class="" action="/teacherspet/<%=student.id;%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE">
  </form>
  </body>
</html>
